html,body,h1,h2,h3,h4,h5,h6,p,ul,ol,li,dl,dt,dd,th,td,form,fieldset,legend,button,input,textarea,blockquote,address,pre {margin:0;padding:0}
table {border-collapse:collapse;border-spacing:0}
img,fieldset,hr,iframe {border:0}
img,.img {display:inline-block;vertical-align:top}
a,del,ins {text-decoration:none}
li {list-style:none}
q:before,q:after {content:''}
sup,sub {vertical-align:baseline}
body,button,input,textarea,select {font:normal 12px/1.666 Tahoma,Arial,"微软雅黑";color:#231815; background:#FDFEFE}
h1,h2,h3,h4,h5,h6,b {font-size:1em;font-weight:normal}
textarea {line-height:1.5;max-height:348px;resize:vertical!important}
i,cite,em,var,dfn,address {font-style:normal}
a {text-decoration:none;outline:0;color:#D46095}
a:hover {text-decoration:underline}
a,label {cursor:pointer}
embed,object {display:block;outline:0}

* html body {_zoom:expression(function(x){x.style.zoom=1;try{document.execCommand('BackgroundImageCache',false,true)}catch(e){return}}(this))}
a:active {*direction:expression(function(x){x.style.direction='ltr';x.hideFocus=1}(this))}


/* form CSS */
.txt {display:inline-block;*display:inline;margin:0 0 0.2em;vertical-align:middle}
.txt input {height:19px;line-height:19px!important;padding:2px 4px 2px;border:1px solid #999;vertical-align:top;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;outline:0}
.rado,
.cbox {display:inline-block;margin:0 1em 0 0;white-space:nowrap; font-family:'\5b8b\4f53'}
.rado input,
.cbox input {margin:0 4px 0 1px;top:-1px;position:relative;*position:static;*margin:-5px 1px -1px 0;_margin-top:-2px;vertical-align:middle;*vertical-align:auto;cursor:pointer}
.rado img,
.cbox img {vertical-align:middle;margin:0 0 0.3em}
option {padding-right:8px}
.tarea {position:relative;*zoom:1;padding:0 5px}
.tarea textarea {overflow:hidden;overflow-y:auto;display:block;zoom:1;width:100%;height:59px;min-height:59px;padding:4px;margin-left:-5px;margin-right:-5px;border:1px solid #D1D1D1;vertical-align:top;word-wrap:break-word;word-break:break-all;outline:0;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px}


/* main CSS */

.topBar .c0,.topNav .c0,.crumbs .c0,.bdy .c0,.help .c0,.copyright .c0,.links .c0,.flashArea .c0{ width:980px; margin:0 auto; min-height:20px}

.topBg{}
.topBg .c0{ height: 151px; width: 1015px; margin:0 auto -151px; background: url(../i/004.png) no-repeat right top;}

/* topBar */
.topBar a{margin: 0 12px 0 0; line-height: 30px}

/* topNav */
.topNav .c0{height: 50px}
.topNav .logo{ background: #971D4B url(../i/001.png) no-repeat center center; border-radius: 5px; width: 100px; height: 50px; float: left; margin-right: 5px}
.topNav .logo a{display: block; height: 100%}
.topNav .logo a b{visibility: hidden;}
.topNav .schForm{ width: 770px; float: left; height: 50px;border-radius: 5px; background: #969696}
.userStatue a{ display: inline-block; border-right: 2px solid #FDFEFE; width: 95px; font-size: 14px; text-align: center; color: #fff; line-height: 50px; }

.schForm .userStatue{display: inline-block; height: 50px; width: 210px}
.schForm .txt{}
.schForm .txt input{ font-size: 14px; width: 470px; padding:4px}
.schForm .btn{border:none; background: url(../i/002.png) no-repeat; width: 34px; height: 30px; cursor: pointer; margin-left: 10px}
.schForm .btn b{visibility: hidden;}

.topNav .cart{ float:left;width: 96px; height: 50px; margin-left:5px; border-radius: 5px; background: #969696 url(../i/003.png) no-repeat center center}
.topNav .cart a{display: block; height: 100%}
.topNav .cart a b{visibility: hidden;}

/* crumbs */
.crumbs .c0{border-bottom: 1px solid #969696; line-height: 30px}
.crumbs a{ color:#707070; margin: 0 10px; font-family: '宋体'}


/* main Frame */
.bdy .c0:after{content:'\20'; display:block; height:0; clear:both; overflow:hidden}
.MAIN,.ASIDE{ width:100%; min-height:500px; float:left}
.MAIN{margin-left:-100%}
.MAIN .c,.ASIDE .c{min-height:500px}
.MAIN .c{ width:770px; position:relative; margin: 0 0 0 auto}
.ASIDE .c{ width:200px; margin:0 auto 0 0}

.A-M{}
.A-M .ASIDE{ position: relative;}
.M-A{}

.bdy .c0{padding: 20px 0}

/* aside aps */
.subCat{ border:1px solid #F5F4F1; border-radius: 5px; background:#F4F4F0; padding: 10px 20px; margin-bottom: 15px}
.subCat .apT{ border-bottom: 1px solid #F4F4F0; color: #000; font-size: 16px; line-height: 30px; border-bottom: 1px solid #918C8A}
ul.cats{padding: 10px 0}
ul.cats li{ line-height: 23px}
ul.cats li a{ color: #D46095; display: block; height: 23px; line-height: 23px;}
ul.cats li a:hover{text-decoration: none}

.subCatHot{ background: #ED94BC; border-color:#B2ACAA;}
.subCatHot .apT{color: #fff; border-color: #fff}
.subCatHot ul.cats li a{color: #fff}
.subCatHot ul.cats li a.on{ background: #971D4B; margin: 0 -25px 0 -20px; padding: 0 25px 0 20px}

.MAIN .apT{ line-height: 40px;padding-left: 10px; font-size: 14px; color: #000; font-weight: bold; }

/* product list */
.proList{}
.proList:after{content:'\20'; display:block; height:0; clear:both; overflow:hidden}
.proList .pro{ display: block; float: left; }
.proList .pro .img{ display: block}
.proList .pro .img a{ position: relative; display: block}
.proList .pro .img img{ display:block; padding: 5px; border:1px solid #DEDEDD;}
.proList .pro .img a:hover img{ border:2px solid #C689A0; padding: 4px}
.proList .pro .img a:hover .fave{visibility: visible;}
.proList .pro .info{ height: 30px; line-height: 30px; font-size: 14px; color: #7A7A7A}
.proList .pro .info .price{ float: right;color: #EB6546}
.fave{ display: block; position: absolute; width:33px; height:33px; background:#fff url(../i/005.png) no-repeat center center; border-radius: 50%; padding: 5px; }
.proList .pro .fave{right: 15px; top:15px;visibility: hidden;}

.proList1 .pro{margin:0 0 15px 12px;}
.proList1 .pro .img{ display: block; width: 242px; height: 242px}
.proList1 .pro .img img{width: 230px; height: 230px;}

.proList2 .pro{margin:0 0 15px 12px;}
.proList2 .pro .img{ display: block; width: 137px; height: 137px}
.proList2 .pro .img img{width: 126px; height: 126px;}

/* 翻页 */
.pg{ text-align: center;}
.pg a{display: inline-block; width: 20px; height: 20px; text-align: center; vertical-align: middle; color: #D46095; font-weight: bold;}
.pg a:hover{text-decoration: none; color: #131313}
.pg a.on{color: #131313}
.pg .prev{background: url(../i/006.png) no-repeat; border-radius: 50%}
.pg .next{background: url(../i/007.png) no-repeat; border-radius: 50%}

/* 酒友会推荐 */
.cardSection:after{content:'\20'; display:block; height:0; clear:both; overflow:hidden}
.cardSection .card{ float: left;}
.card{ background: #ddd; height: 126px; width: 440px; margin-left:10px; padding: 10px}
.card .img{float: left; margin-right: 15px}
.card .img img{ display: block;width: 126px; height: 126px}
.card h4{font-weight: bold;color: #000;height: 25px; font-size: 14px}

/* copyright */
.copyright{}
.copyright .c0{ border-top: 1px solid #636363; line-height: 30px; color: #707070}
.copyright a{ color: #707070; margin-left: 15px}
.copyright .p{ float: right;}