@charset "utf-8";

html {
	background-color: #fff; /*#e6e6e6*/
	color:#000000;;
}

.clearfix:after {content: "."; display: block;clear: both; visibility: hidden;line-height: 0; height: 0;}
.clearfix {display: inline-table; +display:inline-block;}/* Hides from IE-mac \*/* html .clearfix {height: 1%;}.clearfix {display: block;}

body {
	font-size-adjust:none;
	font-stretch:normal;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.5;
	font:12px Arial,Helvetica,sans-serif;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, input, button, textarea, p, blockquote, th, td, hr {
	margin:0;
	padding:0;
}
a {
	color:#0066FF;;
	hide-focus:expression( this.hideFocus=true );
	outline: none;
	text-decoration:none;
}
a:hover, a:focus {
	text-decoration:underline;
	color:#666666;
}
.white {
	color:#fff;
}
.red {
	color:#cc0000;
}
.green {
	color:#99cc00;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
li {
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
}
h1, h2, h3, h4, h5, h6 {
	font-size:100%;
	font-weight:normal;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	color:#000000;
}
h1 {
	font-size:18px;
}
h2 {
	font-size:16px;
}
h3 {
	font-size:14px;
}
h1, h2, h3, h4, h5, h6, strong {
	font-weight:bold;
}
img {
	border:0;
	display:block;
}
.hidden, .closed .inside, .hide-if-js {
	display:none;
}
.invisible {
	visibility:hidden;
}
.clear {
	clear:both;
}
textarea, input, select {
	margin:1px;
	padding:3px;
}
input, select {
	cursor: pointer;
	line-height:12px;
	font-size:12px;
}
label {
	cursor:pointer;
}
p, dl, dd, dt {
	line-height:120%;
}
p {
	margin:0.5em 0 1em;
}
.ader {
	border:1px solid #e0e0e0;
	margin: 5px 0;
	clear:both;
}
.adht {
	float:left;
	margin-right:10px;
}
.adtopsp {
	margin-top:10px;
}
.lastad {
	margin-right:0;
}
.fl {
	float:left;
}
.fr {
	float:right;
}
.f14b {
	font-size:14px;
	font-weight:bold;
}
.ac {
	text-align:center;
}
.system_tips {
	font-size:16px;
	margin:30px auto;
	text-align:center;
}
#busy {
    background-color: #E95555;
    border: 1px ridge #CCCCCC;
    color: #EEEEEE;
    display: none;
    padding: 3px;
    position: absolute;
    right: 7px;
    top: 7px;
}
#wrapper {
	height:auto;
	min-height:100%;
	width:981px;
	margin:0 auto;
}
#tophead {
	background:none repeat scroll 0 0 #333333;
	color:#999999;
}
.headaper {
	width:981px;
	margin:0 auto;
}
.topnav {
	float:right;
	padding-right:5px;	
}
.topnav li {
	float:left;
	line-height:28px;
	padding:0 6px;
}
.topnav li .green {
	color:#99cc00;
}
.topnav li .red {
	color:#FF3399;
}
.topnav li a {
	color:#999;
}
.boxspace {
	height:15px;
}

#ibox-help {
	background:url("/images/eshop/graybg.png") no-repeat scroll 1px -1px transparent;
	height:100px;
	margin-top:20px;
	padding:6px 31px 30px;
}
#ibox-help ul {
	width:172px;
	float:left;
}
#ibox-help ul.last {
	width:200px;
}
#ibox-help ul li label {
	background:url("/images/eshop/icon-direct.png") no-repeat scroll -5px -7px transparent;
	color:#333333;
	display:block;
	font-weight:bold;
	padding:10px 0;
	text-indent:12px;
}
#ibox-help ul li {
	width:100%;
}
#ibox-help ul li a {
	background:url("/images/eshop/icon-dotli.png") no-repeat scroll left center transparent;
	display:block;
	padding:3px 0.9em;
	color:#999999;
}

.site-box {
	height:87px;
	position:relative;
}
.logosite {
	width:300px;
	height:75px;
	display:block;
	float:left;
}
.ibox-very {
	float:left;
	margin-left:10px;
	margin-top:25px;
}
.ibox-very li {
	float:left;
	display:block;
	margin-right:10px;
}
.ibox-very li.space {
	width:130px;
	height:50px;
}

#navigation {
	background:none repeat scroll 0 0 #F5F5F5;
	border:1px solid #E0E0E0;
}
#footer {
	margin:20px 0 50px;
	text-align:center;
	color:#999;
}
#footer a {
	color:#999;
}
#footer .servicer {
	width:210px;
	margin:0 auto;
}
#footer .cr {
	display:none;
}
#TipsLeft {
	position:absolute;
	right:3px;
	top:243px;
	z-index:888;
}
#TipsLeft .closel {
	position:absolute;
	left:10px;
	top:10px;
}
#TipsLeft .closer {
	position:absolute;
	right:10px;
	top:10px;
}
/*start main menu*/
.ddsmoothmenu {
	background:url("/images/eshop/nav/navbg.png") repeat-x scroll 0 0 transparent;
}
.ddsmoothmenu ul{
	z-index:100;
}
/*Top level list items*/
.ddsmoothmenu ul li{
	position: relative;
	float: left;
	width:94px;
}
.ddsmoothmenu ul li.space {
	height:38px;
	width:15px;
}
/*Top level menu link items style*/
.ddsmoothmenu ul li a{
	display:block;
	height:38px;
}

.ddsmoothmenu ul li a.selected{ /*CSS class that's dynamically added to the currently active menu items' LI A element*/
	background: #333333; 
	color:#FF3399;
}
.ddsmoothmenu ul li a:hover{
	color:#FF3399;
	background:#333;
}
.ddsmoothmenu ul li .exmenu {
	text-indent:-999em;
	width:94px;
}
.ddsmoothmenu ul li .event {
	background:url("/images/eshop/nav/menu_event.png") no-repeat scroll 0 0 transparent;
}
.ddsmoothmenu ul li .event:hover {
	background:url("/images/eshop/nav/menu_event.png") no-repeat scroll 0 0 #333;
}
.ddsmoothmenu ul li .current-nav {
	color:#ccff00;
	background:#333;
}
/*1st sub level menu*/
.ddsmoothmenu ul li ul{
	position: absolute;
	left: 0;
	display: none; /*collapse all sub menus to begin with*/
	visibility: hidden;
	background:#fff;
	border:1px solid #e0dfe0;
}
/*Sub level menu list items (undo style from Top level List Items)*/
.ddsmoothmenu ul li ul li{
	display: list-item;
	float: left;
	padding:1px;
	line-height: 31px;
	text-align:left;
	text-indent:0.5em;
	width:98px;
}
.ddsmoothmenu ul li ul li.rigbodor {
	border-right:1px solid #e0dfe0;
}
.ddsmoothmenu ul li ul li.last {
	border-right:none;
}
/*All subsequent sub menu levels vertical offset after 1st level sub menu */
.ddsmoothmenu ul li ul li ul{
	top: 0;
}
/* Sub level menu links style */
.ddsmoothmenu ul li ul li a{
	color: #999999;
	height:30px;
	margin:3px;
	line-height:30px;
	font-size:12px;
}
.ddsmoothmenu ul li ul li.ifarther {
	float:left;
	width:78px;
}
.ddsmoothmenu ul li ul li .subparent {
	color:#999900;
}
.ddsmoothmenu ul li ul li .subchild {
	color:#999999;
}
.ddsmoothmenu ul li ul li .subchild:hover{
	color:#fff;
	background-color:#666;
	margin:1px;
	height: 29px;
}
/* Holly Hack for IE \*/
* html .ddsmoothmenu{height: 1%;} /*Holly Hack for IE7 and below*/

/* ######### CSS classes applied to down and right arrow images  ######### */
.downarrowclass{
	position: absolute;
	top: 12px;
	right: 7px;
}
.rightarrowclass{
	position: absolute;
	top: 6px;
	right: 5px;
}
/* ######### CSS for shadow added to sub menus  ######### */
.ddshadow{
	position: absolute;
	left: 0;
	top: 0;
	width: 0;
	height: 0;
	background: silver;
}
.toplevelshadow{ /*shadow opacity. Doesn't work in IE*/
	opacity: 0.8;
}

#menu_index {
	background:url("/images/eshop/nav/menu_index.png") no-repeat scroll 0 0 transparent;
}
#menu_index:hover {
	background:url("/images/eshop/nav/menu_index_on.png") no-repeat scroll 0 0 transparent;
}
#menu_clothes {
	background:url("/images/eshop/nav/menu_clothes.png") no-repeat scroll 0 0 transparent;
}
#menu_clothes:hover {
	background:url("/images/eshop/nav/menu_clothes_on.png") no-repeat scroll 0 0 transparent;
}
#menu_bag {
	background:url("/images/eshop/nav/menu_bag.png") no-repeat scroll 0 0 transparent;
}
#menu_bag:hover {
	background:url("/images/eshop/nav/menu_bag_on.png") no-repeat scroll 0 0 transparent;
}
#menu_peishi {
	background:url("/images/eshop/nav/menu_peishi.png") no-repeat scroll 0 0 transparent;
}
#menu_peishi:hover {
	background:url("/images/eshop/nav/menu_peishi_on.png") no-repeat scroll 0 0 transparent;
}
#menu_house {
	background:url("/images/eshop/nav/menu_house.png") no-repeat scroll 0 0 transparent;
}
#menu_house:hover {
	background:url("/images/eshop/nav/menu_house_on.png") no-repeat scroll 0 0 transparent;
}
#menu_wenti {
	background:url("/images/eshop/nav/menu_wenti.png") no-repeat scroll 0 0 transparent;
}
#menu_wenti:hover {
	background:url("/images/eshop/nav/menu_wenti_on.png") no-repeat scroll 0 0 transparent;
}
#menu_toy {
	background:url("/images/eshop/nav/menu_toy.png") no-repeat scroll 0 0 transparent;
}
#menu_toy:hover {
	background:url("/images/eshop/nav/menu_toy_on.png") no-repeat scroll 0 0 transparent;
}
#menu_news {
	background:url("/images/eshop/nav/menu_special.png") no-repeat scroll 0 0 transparent;
}
#menu_news:hover {
	background:url("/images/eshop/nav/menu_special_on.png") no-repeat scroll 0 0 transparent;
}
#menu_brand {
	background:url("/images/eshop/nav/menu_brand.png") no-repeat scroll 0 0 transparent;
}
#menu_brand:hover {
	background:url("/images/eshop/nav/menu_brand_on.png") no-repeat scroll 0 0 transparent;
}
#menu_store {
	background:url("/images/eshop/nav/menu_store.png") no-repeat scroll 0 0 transparent;
}
#menu_store:hover {
	background:url("/images/eshop/nav/menu_store_on.png") no-repeat scroll 0 0 transparent;
}
/*end main menu*/
#minor-nav {
	background-color:#ff3399;
	line-height:28px;
	padding-left:20px;
	color:#fff;
	height:28px;
	overflow:hidden;
}
#minor-nav .minor-link {
	float:left;
	width:600px;
}
#minor-nav .minor-link a {
	color:#fff;
	margin-left:0.5em;
	margin-right:0.5em;
	text-decoration:none;
}
#minor-nav .minor-link a:hover {
	color:#000;
}
#minor-nav .minor-link a.hot {
	color:#FF0000;
	margin-right:2em;
}
#minor-nav .search {
	float:right;
	padding-right:5px;
	text-align:right;
	width:300px;
}
#minor-nav .search input {
	border:1px solid #FFFFFF;
	line-height:16px;
	padding:2px;
	color: #999999;
}
#minor-nav .search .button {
	background-color:#ff3399;
	color:#FFFFFF;
	padding:1px;
	line-height:14px;
}

#carousel {
	margin-top:14px;
	border:1px solid #e0e0e0;
	position:relative;
	height:277px;
	overflow:hidden;
}
#carousel .carousel_item {
    display: none;
}
#carousel .active {
    display: block;
}
#carousel .carousel_nav {
	position:absolute;
	right:0;
	top:0;
	width:247px;
}
#carousel .carousel_nav li {
	border-bottom:1px solid #FFFFFF;
}
#carousel .carousel_nav li.last-item {
	border-bottom:none;
}
#carousel .carousel_nav li.last-item a {
	line-height:47px;
}
#carousel .carousel_nav li a {
	background:url("/images/eshop/icon-direct.png") no-repeat scroll 10px -47px #ff3399;
	display:block;
	color:#fff;
	line-height:45px;
	text-indent:27px;
}
#carousel .carousel_nav li.active a, #carousel .carousel_nav li:hover a{
	background:url("/images/eshop/icon-direct.png") no-repeat scroll 10px 0 #333;
	color:#E95098;
	text-decoration:none;
}

.box {
	margin-top:14px;
	clear:both;
}
.box table {
	width:100%;
}
.nospace {
	margin-top:0;
}
.box .bordor {
	border:1px solid #e0e0e0;
	padding:2px;
}
.box .leftref {
	float:left;
	width:223px;
	border:1px solid #e0e0e0;
}
.box .lefttwo {
	padding-right:247px;
	position:relative;
}
.box .centeref {
	float:left;
	border:1px solid #e0e0e0;
	margin-left:8px;
}
.box .rightref {
	position:absolute;
	right:0;
	top:0;
	width:247px;
}
.box .righttwo {
	float:right;
	overflow: hidden;
	width: 747px;
}
.box .righttwo2 {
	float:right;
	overflow: hidden;
	width: 680px;
}
.box .centertwo {
	float:left;
	margin-left:8px;
}
.box .noborder {
	border:none;
}
.box .iadx3x1 {
	float:left;
}
.box .iadx1 {
	border:1px solid #E0E0E0;
}

.box .iadx1 img{
	display:block;
}

.box .iadx2x1 {
	float:left;
	border:1px solid #E0E0E0;
}
.box .chadx2x1 {
	float:left;
}
.box .chadx2x2 {
	float:left;
	margin-left:10px;
}
.box .styadx2x1 img {
	border:1px solid #E0E0E0;
}
.box h3 {
	border-bottom:1px solid #e0e0e0;
}
.box h3 label {
	padding-left:1em;
	font-size:12px;
	font-weight:normal;
	color:#999;
}
.box h3 label a {
	color:#999;
	margin-right:0.5em;
}
.box .bp-now {
	margin-top:3px;
}
.box .bp-now h3 {
	border:medium none;
	font-size:12px;
	font-weight:normal;
	line-height:1.2em;
	padding-left:0;
	text-align:center;
}
.box .bp-now label {
	color:#CC0000;
	display:block;
	margin-top:3px;
	text-align:center;
}
.titem {
	border-bottom:1px dashed #666666;
	margin-bottom:10px;
}
.item {
	border:1px solid #E0E0E0;
	margin-bottom:10px;
	margin-right:10px;
}
.item .prev-button {
	border-right:1px solid #E0E0E0;
	width:30px;
	text-align:center;
}
.item .prev-button a {
	width:20px;
	height:21px;
	display:block;
	margin:0 auto;
	background:url("/images/eshop/icon_scroll_left.png") no-repeat scroll 0 center transparent;
}
.item .prev-button a:hover {
	background:url("/images/eshop/icon_scroll_onleft.png") no-repeat scroll 0 center transparent;
}
.item .next-button {
	border-left:1px solid #E0E0E0;
	width:30px;
	text-align:center;
}
.item .next-button a {
	width:20px;
	height:21px;
	display:block;
	margin:0 auto;
	background:url("/images/eshop/icon_scroll_right.png") no-repeat scroll 0 center transparent;
}
.item .next-button a:hover {
	background:url("/images/eshop/icon_scroll_onright.png") no-repeat scroll 0 center transparent;
}
.item-all {
	border:1px solid #E0E0E0;
	margin-bottom:10px;
}
.item-ht {
	margin-bottom:10px;
}
.newest-product {
	
}
.tabs-wrap {
	margin-left:10px;
	margin-top:5px;
	height:173px;
	overflow:hidden;
}
.slide-jcarousel {
	margin:5px 0 5px 10px
}
.slide-jcarousel li {
	float:left;
	margin:10px;
	width:107px;
}
.slide-jcarousel li h3 a {
	font-size:12px;
	font-weight:normal;
}
.h3title {
	height:33px;
	line-height:33px;
	position:relative;
}
.h3title .atitxt {
	background:url("/images/eshop/titxt/icon_newproduct.png") no-repeat scroll 0 center transparent;
	display:block;
	line-height:33px;
	text-indent:-999em;
	width:139px;
}
.h3title span {
	font-size:12px;
	font-weight:normal;
	position:absolute;
	right:5px;
	top:0;
}

.allcategory {
	background-color:#CCFFFF;
}
.allcategory h3 {
	background-color:#009966;
}
.allcategory .h3title .atitxt {
	background:url("/images/eshop/titxt/icon_category.png") no-repeat scroll 1em center transparent;	
}
.allcategory .h3title a {
	color:#fff;
}
.kind-area {
	border-bottom:1px dashed #E0E0E0;
	height:36px;
	margin:0 10px;
	overflow:hidden;
}
.lastkind {
	border-bottom:none;
}
.kind {
	background-color:#009966;
	display:inline;
	height:23px;
	line-height:23px;
	margin:8px 10px 0;
	width:39px;
}
.kind-line {
	background:url("/images/eshop/kind-line.gif") repeat-x scroll 0 0 transparent;
	font-size:1px;
	height:1px;
	margin-bottom:0 !important;
}
.kind a {
	color:#fff;
}
.more-kind {
	display:inline;
}
.more-kind li {
	float:left;
	line-height:39px;
}
.more-kind li a {
	color:#666;
	margin:0 3px;
}
.more-kind .track {
	color:#cc3300;
}
.margin-lr {
	margin:0 6px;
	color:#666;
}
.news-guide {
	border-bottom:1px solid #e0e0e0;
}
.news-guide .col_txt {
	background:url("/images/eshop/icon_lightdirect.png") no-repeat scroll 11px center transparent;
	border:1px solid #E0E0E0;
	border-bottom:none;
	color:#333333;
	line-height:37px;
	margin:0;
	padding-left:10px;
	text-indent:12px;
	width:233px;
}
.news-guide .nowcol{
	background:url("/images/eshop/icon-direct.png") no-repeat scroll 5px -5px transparent;
}

.store-product .h3title .atitxt {
	background:url("/images/eshop/titxt/icon_store.png") no-repeat scroll 0 center transparent;	
	width:158px;
}
.week-recem .h3title .atitxt {
	background:url("/images/eshop/titxt/icon_weekhot.png") no-repeat scroll 0 center transparent;
	float:left;	
	width:141px;
}
.week-recem .h3title a:hover {
	color:#cc0000;
}
ul.prolist {
	padding:0 8px;
}
ul.prolist li {
	float:left;
	width:127px;
	padding:10px 32px;
	display:block;
	border-right:1px solid #E0E0E0;
}
ul.prolist li.last {
	border-right:none;
}
ul.protxt {
	border:1px solid #e0e0e0;
	border-bottom:none;
}
ul.protxt li {
	border-bottom:1px solid #e0e0e0;
}
ul.protxt li .a-news {
	line-height:37px;
	margin-left:10px;
	background:url("/images/eshop/icon-direct.png") no-repeat scroll -5px -7px transparent;
	display:block;
	text-indent:12px;
	color:#999;
}
ul.protxt li .now, ul.protxt li a:hover {
	color:#666;
}

.clothes .h3title .atitxt {
	background:url("/images/eshop/titxt/icon_clothes.png") no-repeat scroll 0 center transparent;
	float:left;	
}
.product-area_banner1 {
	margin-right:10px;
}
.product-area_banner2 {

}
.product-list-area {
	clear:both;
	height:230px;
	margin-top:10px;
	display:block;
	border:1px solid #e0e0e0;
}
.product-list-area ul.prolist {
	padding:0 10px 0 15px;
}
.product-list-area ul.prolist li {
	float:left;
	width:150px;
	padding:15px 20px 10px;
	border-right:none;
}
.bag .h3title .atitxt {
	background:url("/images/eshop/titxt/icon_bag.png") no-repeat scroll 0 center transparent;
	float:left;	
}
.jewelry .h3title .atitxt {
	background:url("/images/eshop/titxt/icon_peishi.png") no-repeat scroll 0 center transparent;
}
.house .h3title .atitxt {
	background:url("/images/eshop/titxt/icon_house.png") no-repeat scroll 0 center transparent;
}
.stnery .h3title .atitxt {
	background:url("/images/eshop/titxt/icon_stnery.png") no-repeat scroll 0 center transparent;
}
.toy .h3title .atitxt {
	background:url("/images/eshop/titxt/icon_toy.png") no-repeat scroll 0 center transparent;
}
#hotest-topic .forumtix {
	background-color:#FF3399;
	color:#FFFFFF;
	padding:10px 0 10px 10px;
}
.tlbg {
	background:#e0e0e0;
	padding:1px;
}
#newboxes {

}
#newboxes .news-fresh {
	height:246px;
	margin-left:0;
	width:490px;
}
.news-fresh ul li {
	line-height:40px;
	height:40px;
	overflow:hidden;
}
.news-fresh ul li a {
	line-height:40px;
	margin-left:10px;
	background:url("/images/eshop/icon-direct.png") no-repeat scroll -5px -4px transparent;
	display:block;
	text-indent:12px;
	color:#666;
}
.news-fresh ul li a.now,.news-fresh ul li a:hover {
	color:#ff0000;
}
.hot-designer {
	margin-left:8px;
}
#brands {
	border:1px solid #E0E0E0;
	margin-top:6px;
	padding:3px 6px;
}

.ibox-topic li {
	width:100%;
	padding:9px 0;
}
.ibox-topic li a {
	background:url("/images/eshop/icon-direct.png") no-repeat scroll 5px -17px transparent;
	display:block;
	text-indent:25px;
	color:#999;
}
#newpopular {
	border:none;
}
#newpopular .space {
	margin-left:8px;
}
#scroll-popular {
	border:1px solid #E0E0E0;
}
#week-recem {
	border:1px solid #E0E0E0;
}
#week-recem ul li {
	border-right:1px solid #E0E0E0;
	float:left;
	padding:20px 33px;
}
#week-recem ul li.last {
	border-right:none;
}

.categories {
	margin-top:5px;
	padding:1px;
}
.categories h2 {
	background:url("/images/eshop/titxt/icon-procate.png") no-repeat scroll 10px center #e95098;
	color:#FFFFFF;
	font-size:14px;
	line-height:34px;
	text-indent:-999em;
}
.categories ul {
	margin: 1em 1em 1em 0;
}
.categories ul li {
	padding-left:1em;
}
.categories ul li a {
	border-bottom:1px solid #E0E0E0;
	background:url("/images/eshop/icon-directory.png") no-repeat scroll -17px -12px transparent;
	display:block;
	color:#333333;
	font-weight:bold;
	text-indent:0.8em;
}
.categories ul li a:hover {
	color:#cc0000;
}
.categories ul li .last {
	border-bottom:none;
}
.categories ul li ul {
	margin: 0.5em 1em 1em 0;
}
.categories ul li ul li a {
	line-height:29px;
	background:#fff;
	color:#666666;
}
.categories ul li ul li a:hover,.categories ul li ul li .current {
	background:#E0E0E0;
}
.categories ul li .firstcate {
	font-size:14px;
	line-height:34px;
}
.categories ul li .js-open {
	background-position:-17px -60px;
}
.categories ul li .lastcha {
	border-bottom:none;
}
.categories ul li .firstcate:hover {
	color:#cc0000;
	background-position:-17px -60px;
}
.linespace {
	margin-top:15px;
	padding:1px;
}
.linespace h2 {	
	background:url("/images/eshop/titxt/sale-top.png") no-repeat scroll 10px center #009966;
	color:#FFFFFF;
	font-size:14px;
	line-height:34px;
	text-indent:-999em;
}
.linespace li a:hover {
	color:#FF0000;
}
.pricescope h2 {	
	background:url("/images/eshop/titxt/icon_pricearea.png") no-repeat scroll 10px center #e95098;
}
.pricescope ul {
	margin: 10px 0 0;
}
.pricescope ul li {
	line-height: 30px;
	padding-left:1.3em;
}
.pricescope ul li a {
	color:#666666;
}
.pricescope ul li a.current {
	color:#ff0000;
}
.pricescope form {
	padding-left:1.3em;
	color:#999;
}
.pricescope form label {
	line-height:26px;
}
.small-text {
	padding:0;
	width:65px;
}
.pricescope form .button {
	background:url("/images/eshop/icon-graybtn.png") no-repeat scroll -5px -5px transparent;
	border:medium none;
	color:#666;
	display:block;
	height:25px;
	line-height:25px;
	margin:10px 0;
	padding:0;
	width:69px;
}
.newbuy h2 {
	background:url("/images/eshop/titxt/icon_newbuy.png") no-repeat scroll 10px center #e95098;
}
.newbuy ul li span {
	color:#ff0000;
	margin-left:22px;
}
.hotcomment h2 {
	background:url("/images/eshop/titxt/icon_hotcomment.png") no-repeat scroll 10px center #e95098;
}

.top-item {
	margin:8px 7px;
	padding:4px;
}
.top-item .atop {
	display:block;
	padding-left:69px;
	margin-bottom:10px;
	background:url("/images/eshop/icon-top.png") no-repeat scroll 0 0 #fff;
}
.top-item .top1{
	background-position:-25px 25px;
}
.top-item .top2{
	background-position:-167px -79px;
}
.top-item .top3{
	background-position:-169px -185px; 
}
.top-item .top4{
	background-position:-169px -291px;
}
.top-item .top5{
	background-position:-169px -393px;
}

.top-item h3 {
	text-align:center;
}
#contentlist {}
.featurecate {
	width:746px;
}
.featurecate h2 {
	border-bottom:1px solid #E0E0E0;
	padding-bottom:7px;
	position:relative;
}
.featurecate h2 a {
	color:#333;
}
.featurecate h2 a:hover {
	color:#cc0000;
	text-decoration:none;
}
.featurecate h2 .more {
	color:#999999;
	display:block;
	font-size:13px;
	font-weight:normal;
	position:absolute;
	right:5px;
	top:5px;
}
.featurecate h2 .more:hover {
	color:#CC0000;
}
.featurecate ul {
	margin:10px 15px;
}
.featurecate ul li {
	float: left;
    height: 220px;
    margin-right: 28px;
    width: 154px;
}
.featurecate ul li.last {
	margin-right:0;
}
.featurecate ul li a:hover img {
	border:1px solid #CC0000;
}
ul li .iiox {
	position:relative;
}
.iiox .latest {
	position:absolute;
	left:1px;
	top:1px;
}
.featurecate .bp-now h3 {
	text-align:center;
}

.bread-crumbs {
	color:#999;
	font-size:14px;
	line-height:42px;
	overflow:hidden;
}
.linecrumbs{
	line-height:30px;
	border-bottom:1px solid #E0E0E0;
}
.bread-crumbs a {
	color:#666666;
	float:left;
	font-weight:bold;
	padding:0 10px 0 5px;
	position:relative;
	text-decoration:none;
}
.bread-crumbs a.home {
	margin-left:0;
	padding-left:10px;
}
.bread-crumbs span {
	color:#666666;
	float:left;
	overflow:hidden;
	width:15px;
}
.bread-crumbs em {
	color:#666666;
	float:left;
	overflow:hidden;
	width:5px;
}
.filter-option {
	background:none repeat scroll 0 0 #33CC99;
	color:#FFFFFF;
	padding-left:10px;
	height:27px;
	overflow:hidden;
}
.filter-option label, .filter-option a, .filter-option span {
	float:left;
	line-height:27px;
	display:block;
	color:#FFFFFF;
}
.filter-option .showay {
	width:60px;
}
.filter-option .way {
	background:url("/images/eshop/icon-pager.png") no-repeat scroll 0 0 transparent;
	margin-right:5px;
	text-indent:-999em;
	width:14px;
}
.filter-option a.gird {
	background-position:-24px -210px;
}
.filter-option a.list {
	background-position:-24px -263px;
}
.filter-option .orderby,.filter-option .hotlink {
	padding:0 10px;
}
.filter-option .orderby select {
	border:1px solid #BCBCBC;
	padding:2px;
}
.filter-option .hotlink .red {
	color:#cc0000;
	margin-right:10px;
}
.filter-option .tabpage {
	width:150px;
	float:right;
}
.filter-option .tabpage a {
	background:url("/images/eshop/icon-pager.png") no-repeat scroll 0 0 transparent;
	margin-right:7px;
	text-indent:-999em;
	width:15px;
}
.filter-option .tabpage span {
	margin:0 12px 0 5px;
}
.filter-option .tabpage .firstpage {
	background-position:-24px -2px;
}
.filter-option .tabpage .prevpage {
	background-position:-24px -50px;
}
.filter-option .tabpage .nextpage {
	background-position:-24px -106px;
}
.filter-option .tabpage .lastpage {
	background-position:-24px -170px;
}

.slide-show {
	float:left;
	width:96px;
	margin-right:8px;
}
.slide-show li {
	margin-bottom:3px;
	width:96px;
}
.slide-show .lastitem {
	margin-bottom:0px;
}
.slide-show li img {
	display:block;
	width:90px;
	height:90px;
}
.slide-show li a:hover img {
	border:1px solid #666;
}
#showbox {
	width:392px;
	overflow:hidden;
	float:left;
}
.productmesg {
	float:right;
	width:465px;
}
.productmesg h3 {
	position:relative;
	height:30px;
}
.productmesg h3 span {
	color:#999;
	font-size:12px;
	font-weight:normal;
	position:absolute;
	right:1px;
	z-index:999;
}
.productmesg .bebx {
	line-height:40px;
	position:relative;
	padding-left:1em;
}
.productmesg .bebx .red {
	color:#cc0000;
	font-size:2em;
}
.productmesg .bebx .more {
	color:#3399CC;
	position:absolute;
	right:0;
	top:0;
}
.productmesg .choosebuy {
	border:1px solid #E0E0E0;
	background:none repeat scroll 0 0 #EEEEEE;
	padding-left:1em;
}
.productmesg .jaline {
	padding-top:10px;
}
.productmesg .buy {
	height:40px;
	padding-bottom:20px;
}
.productmesg .buy a , .productmesg .buy label {
	display:block;
	float:left;
}
.productmesg .buy a {
	line-height:36px;
	margin-left:10px;
	text-indent:-999em;
	width:138px;
}
.productmesg .buy .addtocart {
	background:url("/images/eshop/icon_incar.png") no-repeat scroll 0 0 transparent;
	border:0 none;
	display:block;
	float:left;
	height:36px;
	margin-left:20px;
	text-indent:-999em;
	width:138px;
}
.productmesg .buy .favorites {
	background:url("/images/eshop/icon_fav.png") no-repeat scroll 0 0 transparent;
}
#sharelike {
	line-height:20px;
	clear:both;
	padding:10px 0 20px 0;
}
#sharelike .sharebtn {
	width:506px;
}
#sharelike .sharebtn img {
	display:inline;
}
#sharelike .rated {
	width:465px;
}
#sharelike .rated label {
	margin-right:10px;
}
.box100 {

}
.proservice {
	margin-right:10px;
}
.prorelate {
	width:247px;
}
#product-detail {
	position:relative;
	padding-top:15px;
	width:724px;
	overflow:hidden;
}
#product-detail ul {
	position:relative;
	width:100%;
	border-bottom:1px solid #E0E0E0;
}
#product-detail ul li {
	float:left;
	margin-bottom:-1px;
}
#product-detail ul li a {
	border-left:1px solid #E0E0E0;
	border-top:1px solid #E0E0E0;
	color:#999999;
	float:left;
	font-weight:bold;
	line-height:33px;
	padding:0 20px;
}
#product-detail ul li .lasta {
	border-right:1px solid #E0E0E0;
}
#product-detail ul li .current {
	font-weight:bold;
	color:#333333;
	border-bottom:1px solid #fff;
}
#product-detail ul li .packaging {
	background-color:#ff3399;
	color:#fff;
	border:none;
	border-bottom:1px solid #c2d730;
}
.zbox {
	padding:20px 30px;
}
.box .pbox {
	color:#666666;
	line-height:30px;
	padding:10px 30px;
	border-left:1px solid #E0E0E0;
	border-right:1px solid #E0E0E0;
	border-bottom:1px solid #E0E0E0;
}
.box .pbox h3 strong {
	color:#ff0000;
}
.box .pbox a {
	color:#666666;
}
.box .pbox a:hover {
	color:#ff0000;
}
.product-features {
	border-bottom:1px solid #E0E0E0;
	padding-bottom:15px;
}
.product-body {
	line-height:28px;
}
.features-table th {
	color:#CC0000;
	padding:10px 10px 0 0;
}
.features-table td {
	padding:10px 10px 0 0;
}
.product-body p {
	line-height:1.5em;
}
#reviewsbox h3 span {
	font-size:12px;
	font-weight:normal;
}
#reviewsbox h3 span b {
	color:#ff0000;
}
#comment-box .item {
	border-bottom:1px solid #CBCBCB;
	margin:15px 0px;
}
#comment-box .item h4 {
	background-color:#F5F5F5;
	line-height:26px;
	padding-left:5px;
}
#comment-box .item p  {
	line-height:18px;
	padding:8px 5px 25px;
}
#post-comment .r {
	padding:15px 0;
	float:left;
}
#post-comment .r textarea {
	border:1px solid #CBCBCB;
	font-size:14px;
	height:190px;
	margin:0 15px 5px 0;
	padding:3px;
	width:380px;
}
#post-comment .r .error {
	display:block;
	color:#ff0000;
}
#post-comment .gerfaq {
	float:left;
	height:270px;
	margin:15px 0;
	overflow:auto;
	width:255px;
}
#post-comment .do-submit {
	background:url("/images/eshop/button_submit_bg.png") no-repeat scroll 0 0 transparent;
	color:#FFFFFF;
	display:block;
	font-size:14px;
	line-height:36px;
	overflow:hidden;
	text-align:center;
	text-decoration:none;
	width:138px;
}

.guess ul,.history ul {
	margin:20px auto;
	width:150px;
}
.guess ul li,.history ul li {
	height:215px;
}
.guess ul li img,.history ul li img {
	padding:1px;
}
.guess ul li a:hover img {
	border:1px solid #666666;
}
.history ul li a:hover img {
	border:1px solid #666666;
}
.guess h2 {
	background:url("/images/eshop/titxt/icon_guess.png") no-repeat scroll center center #009966;
}
.history h2 {
	background:url("/images/eshop/titxt/icon_history.png") no-repeat scroll center center #009966;
}
.box .profile {
	padding:27px 34px;
}
.profile h2 {
	border-bottom:1px solid #FF3399;
	padding-bottom:10px;
}
.profile h2 .tihi {
	font-size:12px;
	font-weight:normal;
}
.profile form {
	margin:40px auto;
}
.profile form table th {
	padding:5px 5px 40px;
	text-align:right;
	vertical-align:top;
	width:220px;
}
.profile form table td {
	vertical-align:top;
}
.profile form table .remember {
	color:#999;
}
.profile form table .remember .forgot {
	color:#333333;
	display:block;
	padding-left:1.5em;
	padding-top:8px;
	text-decoration:underline;
	margin-bottom:8px;
	width:80px;
}
#input_checkcode {
	float:left;
}
#change_checkcode {
	float:left;
	margin-left:5px;
	line-height:20px;
}
#check_imgcode {
	float:left;
	margin-left: 5px;
	margin-top: 1px;
}
form .middle-text {
	font-size:14px;
	padding:1px;
	width:280px;
}
form .error {
	color:#FF0000;
}
.profile form span {
	margin-left:1em;
}
.profile form .error {
	color:#FF0000;
}
.profile .box_cart_frm th {
	padding:5px;
	text-align:center;
	width:100px;
}
.profile form .submited {
	background:url("/images/eshop/icon-shopping.png") no-repeat scroll -7px -296px transparent;
	border:medium none;
	display:block;
	float:left;
	height:34px;
	margin:5px 15px 0 0;
	padding:0;
	text-indent:-999em;
	width:138px;
}
.profile form .register {
	display:block;
	float:left;
	padding-top:24px;
}
.profile .hotlink {
	color:#ff0000;
}
.profile form .signup {
	background-position:-7px -200px;
}
.profile form .desription {
	margin:0;
	color:#999;
}
.car_item_list {
	border:1px solid #E0E0E0;
	margin:15px auto;
	padding:2px;
}
#car_subtotal {
	border-bottom:1px solid #FF3399;
	border-top:1px solid #E0E0E0;
	color:#666666;
	font-size:13px;
	margin:0 auto 10px;
	padding:15px 5px 8px;
	text-align:right;
}
#car_subtotal span {
	padding:0 10px;
}
#car_subtotal span em {
	color:#FF0000;
	font-size:14px;
	font-style:normal;
	padding:0 5px;
}
.picxe {
	width:100%;
}
.picxe .odd td{
	background-color:#eee;
}
.picxe th {
	background-color:#FF3399;
	color:#FFFFFF;
}
.picxe td,.picxe th {
	padding:5px 5px 5px 0;
	line-height:1.3em;
	font-size:12px;
}
.picxe td {
	text-align:center;
}
.picxe .leftside {
	padding-left:5px;
}
.picxe .titd {
	width:25%;
}
.picxe .statistics td {
	border-bottom:none;
	padding:0;
}
.profile .car_item_list table td {
	vertical-align:middle;
}
.picxe .txtlef {
	text-align:left;
	padding-left:2em;
}
.picxe .txtlef a {
	float:left;
	margin-right: 20px;
}
.picxe .txtrig {
	text-align:right;
}
#orderfrom {
	padding:27px 34px;
}
#orderfrom h2 {
	font-size: 12px;
	border-bottom:1px solid #FF3399;
	padding-bottom:10px;
}
#orderfrom h2 span {
	margin:0 3px;
}
#orderfrom h2 .current_step {
	color:#ff0000;
}
.odrable th {
	padding:20px 0;
	text-align:right;
	width:120px;
}
.odrable_show th {
	padding:5px 0;
	text-align:right;
	width:120px;
}
#orderfrom .sho_step {
	margin-top:10px;
	border-bottom:1px dashed #C4C4C4;
}
#orderfrom .sho_step h3  {
	margin-bottom:10px;
	padding: 10px 0;
	position:relative;
}
#orderfrom .sho_step h3 a {
	font-weight:normal;
	margin:0 5px;
}
#orderfrom .sho_step h3 .a_edit {
	color:#0066FF;
	font-size:12px;
	position:absolute;
	right:5px;
}
#orderfrom .editable h3 {
	background-color:#E0E0E0;
	color:#333333;
	text-indent: 1em;
}
#orderfrom .sho_step .go_submit {
	background: url("/images/eshop/button_submit_bg.png") no-repeat scroll left top transparent;
    border: medium none;
    color: #333333;
	cursor: pointer;
    display: block;
    font-size: 16px;
    height: 36px;
    width: 138px;
}
#orderfrom .tab_bor {
	border:1px solid #B2B2B2;
	width:98%;
}
#orderfrom table {
	color:#3D4645;
	margin:10px auto;
}
#orderfrom table .star {
	color:#ff0000;
}
.odrable .pal_note {
	padding-left:2em;
}
.spblock {
	border-bottom:1px dashed #C4C4C4;
}
#orderfrom .car_item_list .picxe {
	margin:0px auto;
}
#orderfrom .car_item_list .picxe th {
	background-color:#E0E0E0;
	color:#333333;
}
#do_buy {
	height: 44px;
    line-height: 54px;
    padding-bottom: 20px;
    padding-left: 120px;
    padding-top: 10px;
    position: relative;
}
#do_buy a {
	line-height:36px;
	text-decoration:none;
}
#do_buy .confirm_chk {
	background:url("/images/eshop/button_submit_bg.png") no-repeat scroll left top transparent;
	color:#333333;
	font-size:16px;
	position:absolute;
	right:5px;
	text-align:center;
	top:20px;
	width:138px;
}
#user_nav {
	border:1px solid #e0e0e0;
	padding:2px;
}
#user_nav h3 {
	background-color:#FF3399;
	color:#fff;
	text-indent: 1em;
	padding:10px 0;
}
#user_nav ul {
	padding-bottom:0.5em;
	margin: 5px auto;
}
#user_nav ul li {
	padding:10px 0;
}
#user_nav ul li a {
	color:#666;
	display:block;
	padding-left:2em;
	background:url("/images/eshop/icon_redzs.png") no-repeat scroll 1em center transparent;
}
#user_nav ul li.now {
	background:#666;
}
#user_nav ul li.now a{
	color:#fff;
	background:url("/images/eshop/icon_whitezs.png") no-repeat scroll 1em center #666;
}
#user_nav ul li .now {
	background:url("/images/eshop/icon_whitezs.png") no-repeat scroll 1em center #666;
	color:#fff;
}
.contentbox {
	padding-left: 1em;
	width: 670px;
	color:#333;
}
.contentbaby {
	padding:1em 0;
	line-height:20px;
}
.introducebaby {
	padding:1em 0;
	line-height:20px;	
}
/*payment page*/
#payment {
	margin-top:5px;
}
#payment .ord_inf {
	background-color:#ffffff;
	border-bottom: 1px solid #dadada;
	padding: 15px 10px 10px 30px; 
}
#payment .ord_inf .inf_l {
	padding-top: 5px;
	float:left;
}
#payment .ord_inf .inf_r {
	float:left;
	margin-left:10px;
}
#payment .ord_inf .inf_r h2{
	color:#FF3399;
}
#payment .ord_pay {
	background-color:#ffffff;
	border-bottom: 1px solid #dadada;
	padding: 15px 10px 10px 30px;
	height:100px;
}
#payment .ord_pay .inf_l {
	padding-top: 5px;
	float:left;
}
#payment .ord_pay .inf_r {
	float:left;
	margin-left:10px;
}
#payment .ord_pay .inf_r h2{
	color:#FF3399;
}
#payment .inf_r .pri_red {
	color:#FF3399;
	margin:0 5px;
	font-size: 14px;
}
#payment .pri_org {
	color:#FF3399;
	margin:0 5px;
	font-size: 14px;
}
#paymethod {
	padding: 0 8px 10px 8px;
	background-color:#E0E0E0;
}
#paymethod .ord_sta {
	font-size: 14px;
	color:#667f66;
	line-height: 40px;
}
#paymethod .ord_ext {
	border: 1px solid #cbcbcb;
	padding: 10px;
	color: #7f7f7f;
	background-color:#ffffff;
}
#paymethod .ord_ext h6 {
	font-weight: normal;
}
#paymethod .ord_ext ul {
	margin: 10px 0px 20px 80px;
}
#paymethod .ord_ext ul li {
	float:left;
	width: 210px;
	margin-bottom: 10px;
}
#paymethod .do_oth {
	margin-top: 10px;
}
#paymethod .do_oth a {
	display: block;
    float: right;
    line-height: 30px;
    margin-right: 12px;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
}

.a_item {
	margin: 10px auto;
}
.a_item table {
	border: 1px solid #009966;
    line-height: 28px;
    width: 100%;
}
.a_item table.td_child  {
    border: 0 none;
}
.a_item table td {
    border-bottom: 1px solid #009966;
    border-right: 1px solid #009966;
	padding-top: 5px;
    text-indent: 5px;
}
.a_item .tr_lin {
	background-color: #009966;
    color: #FFFFFF;
    font-weight: bold;
    line-height: 25px;
}
.a_item .tr_lin a {
	margin-right:5px;
	padding:1px 5px;
}
.a_item .tr_lin a:hover {
	color:#ffffff;
	background-color:#0F86EA;
}
.a_item .tr_lin a.default {
	background-color:#0F86EA;
	margin-right:5px;
	padding:1px 5px;
	color:#ffffff;
}
.a_item .sale_pr {
	color:#cc0000;
	font-weight:bold;
}
.a_item .pg {
	padding-left:20px;
}
table td.td_right {
    text-align: right;
    width: 110px;
}
table.no_side td {
    border-bottom: 0 none;
    border-right: 0 none;
    line-height: 35px;
}
#euser_frm,#passwd_frm {
	margin-top:10px;
}
#shopside {
	width:320px;
}
#shopside .addressbox {
	margin-top:20px;
}
#shopside .addresslist {
	margin:20px 0;
}
#shopside .addresslist li {
	float:left;
	width:160px;
}
#shopside .addresslist li a {
	font-size:16px;
	color:#666;
	display:block;
	font-weight:bold;
	padding:5px 0;
}
#shoplist {
	width:570px;
}
#shoplist h3 {
	font-size:18px;
	color:#333;
	display:block;
	font-weight:bold;
	padding:5px 0;
	border-bottom:1px dashed #666666;
}
#shoplist .shopbox {
	margin:20px auto;
}
.box .brandlist {
	margin-top:15px;
	padding:27px 34px;
}
.box .brandlist li {
	height: 145px;
	width: 445px;
	float:left;
	margin-right: 10px;
	margin-bottom: 15px;
}
#sitemap h2 {
	margin:15px 0;
}
#sitemap .kind {
	background:none;
}
#sitemap .kind a {
	color:#FF3399;
}
.box .brandlist li a {
	font-size:16px;
	color:#666;
	display:block;
	font-weight:bold;
	padding:5px 0;
}
.online-service {
	margin:15px auto 5px;
}
.msn_bg a {
    line-height: 23px;
    text-align: left;
}
.msn_bg a {
    background: url("/images/eshop/msnbg.jpg") no-repeat scroll 0 0 transparent;
    display: block;
    height: 23px;
    line-height: 23px;
    margin-left: 5px;
    text-align: left;
    width: 81px;
}
.msn_bg a img {
    margin: 0 0 2px 5px;
	padding:4px 0 0;
}
.online-service table td {
	padding:0 5px;
}
.pager {
	height: 35px;
	line-height: 34px;
	text-align: right;
	padding-right: 12px;
}
.pager a {
	border:1px solid #B1B1B3;
	padding:2px 5px;
	position:relative;
	text-decoration:none;
}
.pager a:hover {
	background-color:#FF3399;
	color:#ffffff;
}
.pager .c {
	color:#FF3399;
	font-weight: bold;
	padding:2px 5px;
}
.pager .prev {
	margin-right: 5px;
}
.pager .prev a{
	border:1px solid #ffffff;
	padding:2px 5px;
}
.pager .next {
	margin-left: 5px;
}
.pager .next a{
	border:1px solid #ffffff;
	padding:2px 5px;
}